In [16]:
import pandas as pd
import numpy as np

In [15]:
population_A = pd.DataFrame({'Nation':['중국','인도','미국'],
                            'Population':[1420047,1368693,329086],
                            'Percent':[18.54,17.74,4.28]})
population_B = pd.DataFrame({'Nation':['일본','베트남','터키'],
                            'Population':[126856,97426,82959],
                            'Percent':[1.67,1.26,1.08]})
population = pd.concat([population_A, population_B]).T
population

                  0        1       2       0      1      2
Nation           중국       인도      미국      일본    베트남     터키
Population  1420047  1368693  329086  126856  97426  82959
Percent       18.54    17.74    4.28    1.67   1.26   1.08

In [33]:
test = pd.DataFrame({'one':[1.40,7.10,np.nan,0.75],
                    'two':[np.nan, -4.5, np.nan, -1.3]},  
                    index=['a', 'b', 'c', 'd'])

test['one'].fillna(test['one'].mean(), inplace = True)
test['two'].fillna(test['two'].mean(), inplace = True)
test

        one  two
a  1.400000 -2.9
b  7.100000 -4.5
c  3.083333 -2.9
d  0.750000 -1.3

In [56]:
grade = pd.Series([90,80,100,55,70]
                 ,index=['국어', '수학', '영어', '과학', '역사']
                 ,name='중간고사 성적표')
grade.index.name='과목'
grade

과목
국어     90
수학     80
영어    100
과학     55
역사     70
Name: 중간고사 성적표, dtype: int64

In [65]:
matrix3_5 = np.arange(1,16).reshape(3,5)
matrix3_5

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15]])

In [66]:
matrix3_5[:,[0,2,4]]

array([[ 1,  3,  5],
       [ 6,  8, 10],
       [11, 13, 15]])