In [12]:
import pandas as pd

In [13]:
pd.options.display.max_rows=10

In [15]:
unames=['userid', 'gender','age', 'occupation', 'zip']
users= pd.read_table('data/movielens/users.dat', sep="::", header=None,
                    names=unames)

<ipython-input-15-3870178205df>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  users= pd.read_table('data/movielens/users.dat', sep="::", header=None,

In [4]:
mnames=['movieid','title','genres']
movies= pd.read_table('data/movielens/movies.dat', sep="::", header=None,
                    names=mnames)

<ipython-input-4-74356c02a832>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies= pd.read_table('data/movielens/movies.dat', sep="::", header=None,

In [5]:
rnames=['userid','movieid','rating','timestamp']
ratings= pd.read_table('data/movielens/ratings.dat', sep="::", header=None,
                    names=rnames)

<ipython-input-5-f5d0011671ae>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings= pd.read_table('data/movielens/ratings.dat', sep="::", header=None,

In [6]:
ratings.head()

   userid  movieid  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [7]:
data = pd.merge(ratings, users)

In [8]:
data = pd.merge(data, movies)

In [9]:
data = pd.merge(pd.merge(ratings, users), movies)

In [10]:
data.head()

,userid,movieid,rating,timestamp,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama