In [63]:
import json
import pandas as pd

In [64]:
data = json.load(open('data/usda_food/database.json'))

In [65]:
len(data), type(data)

(6636, list)

In [66]:
data[0].keys()

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])

In [67]:
data[0]['id']

1008

In [68]:
data[0]['nutrients'][0]

{'value': 25.18,
 'units': 'g',
 'description': 'Protein',
 'group': 'Composition'}

In [69]:
nutrients = pd.DataFrame(data[0]['nutrients'])

In [70]:
nutrients.tail()

                            description        group units   value
157                              Serine  Amino Acids     g   1.472
158                         Cholesterol        Other    mg  93.000
159        Fatty acids, total saturated        Other     g  18.584
160  Fatty acids, total monounsaturated        Other     g   8.275
161  Fatty acids, total polyunsaturated        Other     g   0.830

In [71]:
info_keys=['description', 'tags', 'manufacturer', 'group']
info = pd.DataFrame(data, columns=info_keys)

In [72]:
info.head()

,description,tags,manufacturer,group
0,"Cheese, caraway",[],,Dairy and Egg Products
1,"Cheese, cheddar",[],,Dairy and Egg Products
2,"Cheese, edam",[],,Dairy and Egg Products
3,"Cheese, feta",[],,Dairy and Egg Products
4,"Cheese, mozzarella, part skim milk",[],,Dairy and Egg Products

In [73]:
nutrients=[]
for element in data:
    food = pd.DataFrame(element['nutrients'])
    food['id'] = element['id']
    nutrients.append(food)

In [74]:
nutrients = pd.concat(nutrients, ignore_index=True)

In [75]:
nutrients.head(2)

         description        group units  value    id
0            Protein  Composition     g  25.18  1008
1  Total lipid (fat)  Composition     g  29.20  1008

In [76]:
info_keys=['id','description']
info = pd.DataFrame(data, columns=info_keys)

In [77]:
info.head()

     id                         description
0  1008                     Cheese, caraway
1  1009                     Cheese, cheddar
2  1018                        Cheese, edam
3  1019                        Cheese, feta
4  1028  Cheese, mozzarella, part skim milk

In [78]:
nutrients.head(2)

         description        group units  value    id
0            Protein  Composition     g  25.18  1008
1  Total lipid (fat)  Composition     g  29.20  1008

In [81]:
nutrients.rename(columns={'description':'nutname'}, inplace=True)

In [82]:
nutrients.head(2)

             nutname        group units  value    id
0            Protein  Composition     g  25.18  1008
1  Total lipid (fat)  Composition     g  29.20  1008

In [37]:
nutrients = nutrients.drop_duplicates()

In [83]:
data = pd.merge(info, nutrients )

In [84]:
data.head(4)

,id,description,nutname,group,units,value
0,1008,"Cheese, caraway",Protein,Composition,g,25.18
1,1008,"Cheese, caraway",Total lipid (fat),Composition,g,29.20
2,1008,"Cheese, caraway","Carbohydrate, by difference",Composition,g,3.06
3,1008,"Cheese, caraway",Ash,Other,g,3.28

In [52]:
#data = data[['id','description','group','units', 'value']]

In [53]:
data.head()

     id                  description        group units   value
0  1008                      Protein  Composition     g   25.18
1  1008            Total lipid (fat)  Composition     g   29.20
2  1008  Carbohydrate, by difference  Composition     g    3.06
3  1008                          Ash        Other     g    3.28
4  1008                       Energy       Energy  kcal  376.00